body {
    background: url(SCREEN.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
  }

  h1{
    color: orange;
    font-size: medium;
    vertical-align: text-top;
    font-family: monospace
  }

  h2{
    color: orange;
    font-size: large;
    text-align: "center";
    vertical-align: text-top;
    font-family: monospace;
    position: absolute;
    left: 650px;
    top: 530px;
  }